doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Books
    link(rel='stylesheet', href='css/book.css')
    script(src="https://kit.fontawesome.com/6067a7f405.js")
  body
      .header
        .header_brand
            h1.header_brand Books
        .header_users
          .header_user
            h1.header_user #{nickname}
          if isAdmin
            a.header_register-post(href='/post') 글쓰기
          a.header_logout-button(href='/auth/logout') Log Out
      .body
          .book(id=book._id)
            .book_registration-date= registrationDate
            .book_title= book.title
            .book_description= book.description
            .book_author 저 자 : #{book.author}
            .book_publisher 출 판 사 : #{book.publisher}
            .book_publication-date 출 판 일 : #{publicationDate}
            if isAdmin
              .buttons
                button.book_delete-button 삭제
                button.book_update-button 수정
            if isUserLikeThisBook
              button.likeButton.like
                i.far.fa-heart #{likeCount}
            else
              button.likeButton.noLike
                i.far.fa-heart #{likeCount}
          .reviews(id=book._id)
            .reviews_title Reviews
              button.reviews_register-button 리뷰쓰기
            .reviews_register-form
              input.reviews_register-form_content(type="text", placeholder="내용을 입력하세요")
              button.reviews_register-form_register-button 등록
            each review in reviews
              .review(id=review._id)
                .review_writer #{review.writer}
                .review_content #{review.content}
                if (review.writer === nickname)
                  .buttons
                    button.review_delete-button 삭제
                    button.review_update-button 수정


      script(src='javascript/book.js')